<main >
    <div class="row qy-5">
    <section class="col-12">
        <div class="card text-bg-dark">
            <img class="card-img-top"src="https://picsum.photos/400/200" alt="Ptoduct photo">
            <div class="card-body">
                <h5 class="card-title text-bg-ptimary">Product #16433</h5>
                <p class="text-bg-secondary">usb hub Type C 12</p>
                <a href="#" class="btn btn-primary">Open</a>
           </div>
        </div>
    </section>
    <section class="col-3">
        <div class="card text-bg-primary">
           <div class="card-header">
            <h5 >Menu</h5>
           </div>        

            <ul class="list-group  list-group-flish">
                <li class="list-group-item text-bg-dark">
                    <a href="#" class="btn btn-link">home page</a>
                 </li>
                <li class="list-group-item text-bg-primary">
                    <a href="#" class="btn btn-link">Summary page</a>
                </li>
                <li class="list-group-item text-bg-danger">
                    <a href="#" class="btn btn-link">Skills page</a>
                </li>
            </ul>
            <div class="card-footer">
               <button class="btn btn-dark btn-sm">Update List</button>
            </div>
    </div>
    </section>
    <section class="col-9">
        <table class="table table-striped table-bordered text-bg-success">
    <thead>
        <tr>
            <th>
                #id
            </th>
            <th>
                name
            </th>
            <th>
                age
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>jhon</td>
            <td>35</td>
        </tr>
        <tr>
            <th>2</th>
            <td>ivan</td>
            <td>29</td>
        </tr>
    </tbody>
</table>
    </section>
    <section class="col-6">
<div class="row g-2">
    <div class="col-6">
        <div class="card text-bg-success">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
        </div>
        <div class="card-footer text-center">Footer</div> 
        </div>
    </div>
   <div class="col-6">
        <div class="card text-bg-success">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
        </div>
        <div class="card-footer text-center">Footer</div> 
        </div>
    </div>
 <div class="col-6">
        <div class="card text-bg-success">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
        </div>
        <div class="card-footer text-center">Footer</div> 
        </div>
    </div>
      <div class="col-6">
        <div class="card text-bg-success">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
        </div>
        <div class="card-footer text-center">Footer</div> 
        </div>
    </div>
</div>
    </section>
    </div>
    <br>
    <br>
    <br>
   <div class="card text-bg-primary">
           <div class="card-header">
            <h5 >Menu</h5>
           </div>        

            <ul class="list-group  list-group-flish">
                <li class="list-group-item text-bg-dark">
                    <a href="#" class="btn btn-link">home page</a>
                 </li>
                <li class="list-group-item text-bg-primary">
                    <a href="#" class="btn btn-link">Summary page</a>
                </li>
                <li class="list-group-item text-bg-danger">
                    <a href="#" class="btn btn-link">Skills page</a>
                </li>
            </ul>
            <div class="card-footer">
               <button class="btn btn-dark btn-sm">Update List</button>
            </div>
    </div>
<br>
<br>
<table class="table table-striped table-bordered text-bg-success">
    <thead>
        <tr>
            <th>
                #id
            </th>
            <th>
                name
            </th>
            <th>
                age
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>jhon</td>
            <td>35</td>
        </tr>
        <tr>
            <th>2</th>
            <td>ivan</td>
            <td>29</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
<div class="card text-bg-success">
     <div class="card-body">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
         </div>
        <div class="card-footer text-center">Footer</div> 
</div>
<br>
<br>
<br>
<div class="row qx-5 qy-1">
    <div class="col-4">
        <div class="card text-bg-success">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
        </div>
        <div class="card-footer text-center">Footer</div> 
        </div>
    </div>
   <div class="col-4">
        <div class="card text-bg-success">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
        </div>
        <div class="card-footer text-center">Footer</div> 
        </div>
    </div>
 <div class="col-4">
        <div class="card text-bg-success">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
        </div>
        <div class="card-footer text-center">Footer</div> 
        </div>
    </div>
      <div class="col-4">
        <div class="card text-bg-success">
         <div class="card-header text-center">Header</div>
         <div class="card-body text-center"> 
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click me!</button>
        </div>
        <div class="card-footer text-center">Footer</div> 
        </div>
    </div>
</div>

 
   
    <h5>Menu</h5>
    
        <ul class="list-group">
            <li class="list-group-item">
                <ul class="list-group">
                    <li class="list-group-item">Item1.1</li>
                        <a href="#" class="btn btn-link">home page</a>
                    </li>
                    <li class="list-group-item">Item1.2
                        <a href="#" class="btn btn-link">home page</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">Item2</li>
            <li class="list-group-item">Item3</li>
        </ul>

</main>