{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    
{{# with main}}
    <main>
        <section class="mb-5">
          {{> title data=summary.title big=true}}
           
          <div>
            <p>
              {{summary.text}}
            </p>
          </div>

                 {{!--    Open-minded for new technologies, with 1 years of experience in development. Whenever I start to
                    work on a new project I learn the domain and try to understand the idea of the project. Good team
                    player, every colleague is a friend to me. --}}
        </section>
        
          {{#with experience}}
            {{> title data=title big=false}}
            <section>
              {{text}}
             </section>
          {{/with}}
                  {{!-- Pet project for parsing sport betting data from different platforms ( odds ) and sport statistics (
                    tournament position, goals etc), analyzing by simple mathematics models and preparing probability
                    for such events like: money line - first win / draw / second win, totals etc. --}}
    </main>
   {{/with}}
</div>

