  {{#with footer}}
	        {{#with social}}
           {{> link text=email.text href=email.href blank=true}}
           {{> link text=phone.text href=phone.href blank=true}}
           {{> link text=linkedin.text href=linkedin.href blank=true noLine=true}}
           {{/with}}
		</div>
		<br/>
    <br/>
		<div>
			<em>Copiright by{{../header/name/firstname}}{{../header/name/lastname}}</em>
      <br/>
      <br/>
      <em><addres>{{../header/address}}</addres></em>
		</div>
    </footer>
 {{/with}}
