<a href="{{href}}"{{#if blank}}target="_blank" {{/if}}>{{text}}</a>

{{#unless noLine}}
{{#if line}}
  ---
{{else}}
  /
{{/if}}
{{/unless}}
   


   
{{!-- <div>{{> link text=company.name href=company.url blank=true noLine=true}}</a></div> --}}